<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <style>
      body {
        font-family: "Roboto", sans-serif;
      }
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, #B71B1B 0%, #780B0B 99.99%, rgba(183, 27, 27, 0) 100%);
      }

      .logo {
        margin-top: -6.5rem;
      }

      .form-in {
        border: 1px solid rgba(0, 0, 0, 0.2);
        height: 3rem;
        padding-left: 1.5rem;
      }
    </style>
    <title>Login</title>
  </head>
  <body onload='clearForms()'>
    <div class="back container-fluid">
      <div class="row content h-100">
        <div class="col-lg-5 mx-auto my-auto">
          <form id="login-form" class="container-fluid pb-3 px-4 bg-white">
            <div class="row content">
              <div class="col-lg-12 text-center logo">
                <img src="images/logo.png" height="170px" width="170px" alt="Itobuz">
              </div>
            </div>
            <div class="row content my-4">
              <div class="col-lg-12 text-center">
                <h4>LOGIN</h4>
              </div>
            </div>
            <div class="row content my-4">
              <div class="col-lg-4 my-auto">
                Username
              </div>
              <div class="col-lg-8">
                <input class="form-in" type="text" id="uname" name="uname" placeholder="Type Your Name" style="width: 100%" required>
              </div>
            </div>
            <div class="row content my-4">
              <div class="col-lg-4 my-auto">
                Password
              </div>
              <div class="col-lg-8">
                <input class="form-in" type="password" id="pass" name="pass" placeholder="********" style="width: 100%" required>
              </div>
            </div>
            <div class="row content">
              <div class="col-lg-12 text-center" id="msg">

              </div>
            </div>
            <div class="row content my-4">
              <div class="col-12 col-lg-4 my-auto">
                <a href="#" style="color: #DC2C2C; font-weight: bold;">Forgot Password</a>
              </div>
              <div class="col-12 col-lg-8">
                <input class="float-none float-lg-right" type="image" src="images/login-button.png" id="submit-login" name="submit-login">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script src="scripts/login.js"></script>
</html>
